{% extends 'base.html' %}

{% block content %}
<div class="general-info mainland">
  <div class="container">
    <h1>소개</h1>
    <h2>팀</h2>
    <div class="team center row">
      <div class="col-xs-4">
        <div class="name">김찬우</div>
        <div class="dept">컴퓨터공학부</div>
        <div class="role">개발</div>
      </div>
      <div class="col-xs-4">
        <div class="name">정우철</div>
        <div class="dept">물리천문학부</div>
        <div class="role">개발</div>
      </div>
      <div class="col-xs-4">
        <div class="name">정하빈</div>
        <div class="dept">경영학과</div>
        <div class="role">기획 및 협력</div>
      </div>
    </div>
    <h2 id="notice">공대 선거에 관한 안내</h2>
    <p class="center">스누초이스 팀원 중 공대 선거운동본부의 선본원이 있어, 공대 선거는 서비스하지 않습니다.</p>
    <h2>연락</h2>
    <p class="center"><a href="mailto:contact@snuchoice.com">contact@snuchoice.com</a></p>
  </div>
</div>
{% endblock %}
