{% extends 'base.html' %}

{% block content %}
<div class="general-info mainland">
  <div class="container">
    <h1>정책</h1>
    <ol type="1">
      <li>스누초이스는 서울대학교 총학생회원(통상 학사과정 재학생 및 휴학생)만 가입할 수 있습니다. 총학생회원이 아닌 자가 가입한 사실이 확인될 경우에는 계정 이용이 정지되거나 작성한 컨텐츠가 삭제될 수 있습니다.</li>
      <li>
        홈 화면 상단 질문의 게시 기준은 다음과 같습니다.
        <br>
        <ol type="i">
          <li>공론화를 100개 이상 받은 질문 중 상위 5개를 공론화 개수 순서대로 게시</li>
          <li>i의 조건을 만족하는 질문이 5개 미만일 경우, 나머지 질문을 스누초이스와 언론이 협의하여 선정한 질문으로 게시</li>
        </ol>
      </li>
      <li>공론화를 100개 이상(기준 변동 가능) 받은 질문에 대해서는 스누초이스에서 각 후보들에게 공식적으로 질의서를 발송합니다. 질의서는 후보들의 선거운동 일정을 고려하여 여러 개의 질문을 모아 발송할 수 있습니다. 후보들은 질의서가 발송되지 않은 질문에 대해서도 자발적으로 답할 수 있습니다.</li>
      <li>질문 시 입력한 질의자 명이 실명과 일치하지 않을 경우에는 스누초이스에서 이를 실명으로 정정할 수 있습니다. 실명 확인은 마이스누 이메일 시스템을 통해 수동으로 이루어질 수 있습니다.</li>
      <li>질문은 답변이 달리기 전까지 삭제하실 수 있습니다.</li>
      <li>광고성, 음란성 등 사이트 성격에 맞지 않는 질문은 삭제될 수 있습니다.</li>
    </ol>
  </div>
</div>
{% endblock %}
